@import './utils/reset';
@import './utils/variables';
@import './utils/base';
@import './utils/placeholders';
@import './utils/hidden';

@import './components/container';
@import './components/section';
@import './components/header';
@import './layout/hero';
@import './components/btn';
@import './components/backdrop';
@import './components/modal';
@import './components/logo';
@import './components/current';
@import './components/socials';
@import './components/footer';
@import './components/overlay';

@import './layout/preference';
@import './layout/examples';
@import './layout/team';
@import './layout/clients';
@import './layout/portfolio';
