.clients {
  background-color: var(--primary-bgn-color);
}

.clients__title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: var(--main-font-weight);
  font-size: 36px;
  line-height: var(--main-line-height);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  @include before-mob {
    font-size: 30px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  @include calc(2);

  @include tablet {
    @include calc(3);
  }

  @include desktop {
    @include calc(6);
  }
}

.clients__link {
  display: flex;
  min-width: 100%;
  height: 92px;
  border-radius: 4px;
  outline: transparent;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-icon-color);
  fill: var(--main-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--hover-color);
    fill: var(--hover-color);
  }
}

.clients__icon {
  width: 106px;
  height: 60px;
  color: currentColor;
}
