.preference__list {
  display: flex;
  gap: 30px;
}

.preference__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: var(--third-bgn-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.preference__icon {
  width: 70px;
  height: 70px;
}

.preference__title {
  margin-bottom: 10px;
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.preference__text {
  font-size: var(--main-font-size);
  line-height: var(--second-line-height);
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
