.current-page {
  position: relative;
  color: var(--hover-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
  &::after {
  position: absolute;
  content: '';
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--hover-color);
}}