.header {
  display: flex;
  align-content: center;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
}

.site-nav,
.contacts,
.site-nav__list {
  display: flex;
  align-items: center;
}

.site-nav__list {
  gap: 50px;
}

.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-style: normal;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  &:hover,
  &:focus {
    color: var(--hover-color);
  }
}

.contacts {
  margin-left: auto;
  margin-right: 0;
  gap: 50px;
}

.contacts__item {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  letter-spacing: 0.02em;
  color: var(--first-text-color);
  @include transition (color);
}

.contacts__link {
  display: inline-flex;
   align-items: center;
  @include transition (color);

  &:hover,
  &:focus {
    color: var(--hover-color);
  }
}

.contacts__icon-tel,
.contacts__icon-mail {
  fill: currentColor;
  margin-right: 10px;
}

.contacts__icon-tel {
  width: 10px;
  height: 16px;
}

.contacts__icon-mail {
  width: 16px;
  height: 12px;
}
