// ---------MAIN SOCIALS------
.social {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.social__link {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-bgn-color);
  fill: var(--main-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
  background-color: var(--hover-color);
  fill: var(--primary-bgn-color);
}
}

.social__icon {
  width: 20px;
  height: 20px;
}

// ---------FOOTER SOCIALS--------------
.socials {
  // margin-left: 70px;
  text-align: center;

  @include desktop {
    margin-left: 70px;
    text-align: left;
  }
}

.socials__list {
  display: inline-flex;
  gap: 10px;
}

.socials__title {
  margin-bottom: 20px;
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--icon-bgn-color);
  @include transition (background-color);
  
  &:hover,
  &:focus {
    background-color: var(--hover-color);
  }
}

.socials__icon {
  width: 20px;
  height: 20px;
}