:root {
  --primary-text-color: #212121;
  --first-text-color: #757575;
  --secondary-text-color: #ffffff;

  --hover-color: #2196f3;
  --button-hover-color: #188ce8;

  --primary-bgn-color: #ffffff;
  --secondary-bgn-color: #2f303a;
  --third-bgn-color: #f5f4fa;

  --primary-font: 'Roboto', sans-serif;
  --logo-font-family: 'Raleway', sans-serif;
  --main-font-size: 14px;
  --second-font-size: 16px;
  --main-font-weight: 700;
  --main-line-height: 1.14;
  --second-line-height: 1.7;
  --text-line-height: 1.9;
  --title-line-height: 2;
  
  --container-width: 1200px;
  --main-icon-color: #afb1b8;
  --icon-bgn-color: rgba(255, 255, 255, 0.1);   
}